html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  margin: auto;
  width: 799px;
  height: 788px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid rgb(0, 0, 0);
}

.square-div {
  flex: 1 1 48px;
  height: 49px;
  border: 2px solid rgb(0, 0, 0);
}

.btn-container {
  width: 100vw;
  height: auto;
  margin: 20px;
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 12px 24px;
  background: rgb(44, 44, 224);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 5px solid transparent;
  border-radius: 6px;
  box-shadow: 0 5px 0 rgb(0, 0, 0);
  transition: transform 0.1s ease;
  font-size: larger;
  font-weight: bolder;
}

.btn:active {
  transform: translateY(4px);
  box-shadow: 0 1px 0 rgb(189, 47, 47);
}

.btn:hover {
  background-color: white;
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}
